.headr-bar-right a {
    margin-left: 10px;
}

#shopping-cart > .fa-shopping-cart{
    font-size: 30px;
}

.in-cart-img{
    max-width: 30px;
}

/* add bootstrap breakpoint for xxl (≥1400px) */
@media (min-width: 1400px) {
    .container{
        max-width: 1340px;
    }
}